@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700&display=swap');

*{
    margin: 0;
    padding: 0;

}

body{

    font-family: 'Montserrat', sans-serif;
    font-size: 14px;

}

section{
    padding: 100px 20px;
   
}

/*typography*/

h1{
    font-size: 77px;
    line-height: 87px;
    margin-bottom: 15px;
    color: black;
    font-weight: 700;
}

h2{
    font-size: 45px;
    line-height: 55px;
    margin-bottom: 10px;
    font-weight: 700;
    padding-left: 30px;
}

h3{
    font-size: 30px;
    line-height: 40px;
    margin-bottom: 10px;
    color: black;
    font-weight: 700;
  padding-left: 30px;
}

h4{
    font-size: 15px;
    line-height: 22px;
    color: #3b8df3;
}

p{
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 10px;
    color: #292929;
}
/*end*/

/*header*/
header{
    padding: 0px 100px;
    padding-top: 15px;
    padding-bottom: 15px;
    background-color: rgb(187, 216, 218);
}

.navbar{
    padding: 0;
}

.navbar-nav  .nav-link{
    padding: 15px 30px;
    color: black;
}

.navbar-toggle-icons{
    height: auto;
}

@media(max-width:767px){
    header{

        padding: 0px 10px;
    }
}
/*end*/
/*banner*/

.theme-bg{
    background-color:  rgb(187, 216, 218) ;


}

/*end*/

/*card styling*/
.card-conatiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.card{
    padding: 10px;
    margin: 5px;
    float: left;
}
/*end*/

/*review cards*/
::selection{
  background: rgba(23,162,184,0.3);
}
.wrapper{
  max-width: 1200px;
  margin: auto;
  padding: 0 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.wrapper .box{
  background: #fff;
  width: calc(33% - 10px);
  padding: 25px;
  border-radius: 3px;
  box-shadow: 0px 4px 8px rgba(0,0,0,0.15);
}
.wrapper .box i.quote{
  font-size: 20px;
  color: #17a2b8;
}
.wrapper .box .content{
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  padding-top: 10px;
}
.box .info .name{
  font-weight: 600;
  font-size: 17px;
}
.box .info .job{
  font-size: 16px;
  font-weight: 500;
  color: #17a2b8;
}
.box .info .stars{
  margin-top: 2px;
}
.box .info .stars i{
  color: #17a2b8;
}
.box .content .image{
  height: 75px;
  width: 75px;
  padding: 3px;
  background: #17a2b8;
  border-radius: 50%;
}
.content .image img{
  height: 100%;
  width: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid #fff;
}
.box:hover .content .image img{
  border-color: #fff;
}

@media (max-width: 1045px) {
  .wrapper .box{
    width: calc(50% - 10px);
    margin: 10px 0;
  }
}
@media (max-width: 702px) {
  .wrapper .box{
    width: 100%;
  }
}


/*footer*/

footer{
    bottom: 0px;
    width: 100%;
    background: #111;
    color: blanchedalmond;
  }
  .main-content{
    display: flex;
  }
  .main-content .box{
    flex-basis: 50%;
    padding: 10px 20px;
  }
  .box h2{
    font-size: 1.125rem;
    font-weight: 600;
    text-transform: uppercase;
  }
  .box .content{
    margin: 20px 0 0 0;
    position: relative;
  }
  .box .content:before{
    position: absolute;
    content: '';
    top: -10px;
    height: 2px;
    width: 100%;
    background: #1a1a1a;
  }
  .box .content:after{
    position: absolute;
    content: '';
    height: 2px;
    width: 15%;
    background: #3b8df3;
    top: -10px;
  }
  .left .content p{
    text-align: justify;
    color: blanchedalmond;
  }
  .left .content .social{
    margin: 20px 0 0 0;
  }
  .left .content .social a{
    padding: 0 2px;
  }
  .left .content .social a span{
    height: 40px;
    width: 40px;
    background: #1a1a1a;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    border-radius: 5px;
    transition: 0.3s;
  }
  .left .content .social a span:hover{
    background: #3b8df3;
  }
  .center .content .fas{
    font-size: 1.4375rem;
    background: #1a1a1a;
    height: 45px;
    width: 45px;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
  }
  .center .content .fas:hover{
    background: #3b8df3;
  }
  .center .content .text{
    font-size: 1.0625rem;
    font-weight: 500;
    padding-left: 10px;
  }
  .center .content .phone{
    margin: 15px 0;
  }
  .right form .text{
    font-size: 1.0625rem;
    margin-bottom: 2px;
    color: blanchedalmond;
  }
  .right form .msg{
    margin-top: 10px;
  }
  .right form input, .right form textarea{
    width: 100%;
    font-size: 1.0625rem;
    background: #151515;
    padding-left: 10px;
    border: 1px solid #222222;
  }
  .right form input:focus,
  .right form textarea:focus{
    outline-color: #3498db;
  }
  .right form input{
    height: 35px;
  }
  .right form .btn{
    margin-top: 10px;
  }
  .right form .btn button{
    height: 40px;
    width: 100%;
    border: none;
    outline: none;
    background: #3b8df3;
    font-size: 1.0625rem;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
  }
  .right form .btn button:hover{
    background: #000;
  }
  .bottom center{
    padding: 5px;
    font-size: 0.9375rem;
    background: #151515;
  }
  .bottom center span{
    color: #656565;
  }
  .bottom center a{
    color: #3b8df3;
    text-decoration: none;
  }
  .bottom center a:hover{
    text-decoration: underline;
  }
  @media screen and (max-width: 900px) {
    footer{
      position: relative;
      bottom: 0px;
    }
    .main-content{
      flex-wrap: wrap;
      flex-direction: column;
    }
    .main-content .box{
      margin: 5px 0;
    }
  }
  











